.vscode
.idea
.pytest_cache
source/.vs
source/.vscode
tests_and_stuff
tests/__pycache__
source/AscentViewer-files/data/user/temp/logs/log*.log
source/AscentViewer-files/lib/__pycache__
source/AscentViewer-files/*.pyc
output.*
source/icon3_UaA_icon.ico
source/releaser/lib/__pycache__
source/releaser/logs/log*.log
source/releaser/exports
source/releaser/config/config3.1 - Copy.json
source/releaser/exporter.zip
source/releaser/test.txt
source/misc/icons_src/icon.log.csv
source/misc/icons_src/icon.svg
source/AscentViewer-files/test.py
source/AscentViewer-files/data/assets/markdown/README.md
source/AscentViewer-files/data/assets/localization/lang/secret.json
source/AscentViewer-files/data/user/temp/thumbnails/tn_current-thumb.png
source/AscentViewer-files/data/assets/img/twemoji
